/**
 * Arquivo CSS: assets/css/admin-menu-icon.css
 *
 * Este arquivo será dedicado apenas para estilizar o ícone do menu
 */

/* Estilo para o ícone do menu do plugin */
#adminmenu .toplevel_page_codirun-codir2me-cdn .wp-menu-image img {
	padding-top: 18px !important;
	width: 20px !important;
	height: auto !important;
	opacity: 0.6;
	filter: brightness(0) invert(1);
}

#adminmenu .toplevel_page_codirun-codir2me-cdn:hover .wp-menu-image img,
#adminmenu .toplevel_page_codirun-codir2me-cdn.wp-has-current-submenu .wp-menu-image img,
#adminmenu .toplevel_page_codirun-codir2me-cdn.current .wp-menu-image img {
	opacity: 1;
}